<a href="https://colab.research.google.com/github/akshaykumar2972/POC2025/blob/main/POC_Ola.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [51]:
df_original = pd.read_csv('/content/ola_dataset.csv')
df_original.head()

,Unnamed: 0,MMM-YY,Driver_ID,Age,Gender,City,Education_Level,Income,Dateofjoining,LastWorkingDate,Joining Designation,Grade,Total Business Value,Quarterly Rating
0,0,01/01/19,1,28.0,0.0,C23,2,57387,24/12/18,NaN,1,1,2381060,2
1,1,02/01/19,1,28.0,0.0,C23,2,57387,24/12/18,NaN,1,1,-665480,2
2,2,03/01/19,1,28.0,0.0,C23,2,57387,24/12/18,03/11/19,1,1,0,2
3,3,11/01/20,2,31.0,0.0,C7,2,67016,11/06/20,NaN,2,2,0,1
4,4,12/01/20,2,31.0,0.0,C7,2,67016,11/06/20,NaN,2,2,0,1

In [52]:
df_original.shape

(19104, 14)

In [53]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19104 entries, 0 to 19103
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            19104 non-null  int64
 1   MMM-YY                19104 non-null  object
 2   Driver_ID             19104 non-null  int64
 3   Age                   19043 non-null  float64
 4   Gender                19052 non-null  float64
 5   City                  19104 non-null  object
 6   Education_Level       19104 non-null  int64
 7   Income                19104 non-null  int64
 8   Dateofjoining         19104 non-null  object
 9   LastWorkingDate       1616 non-null   object
 10  Joining Designation   19104 non-null  int64
 11  Grade                 19104 non-null  int64
 12  Total Business Value  19104 non-null  int64
 13  Quarterly Rating      19104 non-null  int64
dtypes: float64(2), int64(8), object(4)
memory usage: 2.0+ MB

In [54]:
df_original.isnull().sum()

Unnamed: 0                  0
MMM-YY                      0
Driver_ID                   0
Age                        61
Gender                     52
City                        0
Education_Level             0
Income                      0
Dateofjoining               0
LastWorkingDate         17488
Joining Designation         0
Grade                       0
Total Business Value        0
Quarterly Rating            0
dtype: int64

##**Data Cleaning**

In [55]:
df_original.drop('Unnamed: 0', axis=1, inplace=True)

In [56]:
df_original.rename(columns={'MMM-YY':'Reporting Date (Monthly)'}, inplace=True)

In [57]:
df_original['Reporting Date (Monthly)'] = pd.to_datetime(df_original['Reporting Date (Monthly)']).dt.date

In [58]:
df_original['Age'].unique()

array([28., 31., 43., 29., 34., 35., 30., 39., 42., 27., 26., nan, 33.,
       40., 41., 32., 22., 44., 36., 21., 49., 37., 38., 46., 47., 48.,
       25., 24., 45., 51., 52., 23., 50., 53., 54., 55., 58.])

In [59]:
df_original.loc[df_original['Age'].isnull()]

,Reporting Date (Monthly),Driver_ID,Age,Gender,City,Education_Level,Income,Dateofjoining,LastWorkingDate,Joining Designation,Grade,Total Business Value,Quarterly Rating
72,2020-02-01,20,NaN,1.0,C19,0,40342,25/10/19,NaN,3,3,0,1
97,2019-10-01,22,NaN,0.0,C10,2,31224,25/05/18,NaN,1,1,200000,3
110,2019-07-01,24,NaN,0.0,C24,2,76308,25/05/18,NaN,1,2,203240,3
212,2019-11-01,40,NaN,0.0,C15,0,59182,11/08/19,NaN,2,2,0,1
261,2019-05-01,49,NaN,0.0,C20,0,53039,25/05/18,NaN,1,2,124190,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18395,2020-05-01,2690,NaN,0.0,C11,2,77662,17/07/18,NaN,1,2,692600,4
18722,2020-08-01,2730,NaN,1.0,C16,2,69924,07/08/19,NaN,2,2,161860,2
18780,2019-03-01,2738,NaN,0.0,C17,0,23068,09/08/18,NaN,1,1,639780,3
18843,2019-01-01,2751,NaN,0.0,C17,2,53115,11/05/15,NaN,1,1,506550,3
19024,2019-02-01,2774,NaN,0.0,C15,1,42313,21/07/18,NaN,1,1,1141280,4

In [60]:
df_original['Age'].isnull().sum()

np.int64(61)

In [75]:
df_original['Age'] = df_original.groupby(['City', 'Education_Level', 'Income'])['Age'].transform(lambda x: x.fillna(x.median())).astype(int)

In [76]:
df_original.loc[df_original['Gender'].isnull()]

,Reporting Date (Monthly),Driver_ID,Age,Gender,City,Education_Level,Income,Dateofjoining,LastWorkingDate,Joining Designation,Grade,Total Business Value,Quarterly Rating
240,2019-02-01,43,27,NaN,C15,0,12906,2018-07-13,2019-02-20,1,1,0,1
258,2019-02-01,49,21,NaN,C20,0,53039,2018-05-25,NaT,1,2,0,1
264,2019-08-01,49,21,NaN,C20,0,53039,2018-05-25,NaT,1,2,300300,2
466,2019-08-01,68,31,NaN,C29,0,79288,2015-10-18,NaT,1,3,544930,3
820,2019-02-01,116,21,NaN,C11,0,16477,2018-12-04,NaT,1,1,129590,1
859,2019-11-01,119,31,NaN,C29,1,71000,2019-11-16,NaT,3,3,0,1
1514,2020-12-01,225,32,NaN,C14,0,44792,2020-07-13,NaT,3,3,337020,3
1892,2019-08-01,296,31,NaN,C20,1,65094,2018-06-10,NaT,1,2,145670,2
2277,2019-02-01,354,31,NaN,C11,0,60555,2018-11-30,NaT,1,1,0,1
2359,2020-03-01,365,24,NaN,C22,0,44740,2020-02-01,NaT,2,2,0,1
2683,2019-06-01,407,40,NaN,C13,1,58207,2016-05-17,NaT,1,2,427570,4
2932,2020-03-01,439,27,NaN,C3,1,60246,2019-11-28,NaT,1,1,1561820,3
2996,2020-07-01,446,31,NaN,C22,0,50832,2020-02-01,NaT,3,3,890060,2
3289,2020-01-01,489,31,NaN,C12,2,49475,2019-10-18,NaT,1,1,500510,3
3436,2020-10-01,516,26,NaN,C29,0,41099,2019-07-04,NaT,1,1,422710,1
3627,2020-02-01,541,27,NaN,C1,2,71812,2017-02-10,NaT,1,2,200000,2
4206,2020-02-01,611,32,NaN,C10,1,39216,2020-01-13,NaT,2,2,0,1
4378,2019-12-01,640,26,NaN,C8,1,105931,2019-12-07,NaT,3,3,0,1
4766,2019-04-01,709,31,NaN,C13,1,135436,2018-08-04,NaT,5,5,0,1
5366,2020-12-01,793,26,NaN,C7,2,92670,2020-10-30,NaT,3,3,127800,1
5939,2020-06-01,888,31,NaN,C1,1,51539,2018-06-16,NaT,1,1,402700,3
6378,2020-01-01,951,40,NaN,C13,0,70478,2019-10-31,NaT,3,3,0,1
6695,2019-01-01,1004,31,NaN,C14,0,58588,2018-11-18,NaT,2,2,224460,1
6810,2020-06-01,1023,27,NaN,C26,2,79926,2019-12-24,NaT,3,3,103380,3
6820,2020-09-01,1028,26,NaN,C15,2,63844,2020-06-14,2020-09-27,2,2,0,1
7635,2019-01-01,1143,32,NaN,C29,2,30860,2018-05-14,NaT,1,2,471080,2
7724,2019-04-01,1156,31,NaN,C27,1,46239,2018-09-17,NaT,1,1,0,1
8104,2019-04-01,1205,27,NaN,C14,1,95465,2018-07-21,NaT,2,2,703460,3
8880,2019-02-01,1312,21,NaN,C6,0,22115,2018-05-30,NaT,1,1,200040,1
9484,2020-03-01,1407,26,NaN,C26,1,27806,2019-12-09,NaT,1,1,1045480,2
9772,2020-12-01,1452,31,NaN,C24,2,61218,2020-01-14,2020-12-25,1,1,0,3
10125,2019-07-01,1508,32,NaN,C23,0,108452,2013-07-21,NaT,2,3,400000,3
10843,2019-04-01,1621,27,NaN,C25,2,29043,2018-01-19,NaT,1,1,0,1
12092,2020-12-01,1804,31,NaN,C15,2,86813,2020-10-04,NaT,3,3,300830,1
12676,2020-05-01,1877,40,NaN,C26,0,116992,2019-04-29,NaT,1,4,2343320,4
13052,2020-12-01,1936,26,NaN,C22,1,25818,2018-09-04,NaT,1,1,592260,3
13812,2019-04-01,2057,32,NaN,C27,1,40198,2018-10-30,NaT,2,2,121970,1
13907,2019-02-01,2073,21,NaN,C27,0,42380,2018-12-31,NaT,1,1,250000,1
14035,2020-02-01,2093,31,NaN,C19,2,58872,2019-10-08,2020-02-07,2,2,0,1
14951,2019-04-01,2215,27,NaN,C6,1,23801,2018-05-21,2019-04-27,1,1,0,1
15084,2019-10-01,2228,54,NaN,C27,0,79243,2018-07-21,NaT,1,2,588010,3
16717,2019-07-01,2478,26,NaN,C2,2,68294,2018-06-11,NaT,1,1,498140,3
17066,2019-12-01,2517,32,NaN,C26,1,83236,2015-05-31,NaT,2,4,400000,1
17832,2019-01-01,2607,40,NaN,C17,1,21636,2018-12-24,NaT,1,1,362540,2
18418,2019-03-01,2693,24,NaN,C7,0,58571,2018-05-04,NaT,1,1,350370,2
18572,2019-10-01,2716,31,NaN,C29,1,38744,2019-06-16,NaT,1,1,0,2
18691,2020-12-01,2728,27,NaN,C19,2,28318,2020-03-11,NaT,1,1,756040,3
18754,2019-08-01,2732,32,NaN,C12,0,53480,2016-06-21,NaT,1,3,300060,2
18785,2019-08-01,2738,24,NaN,C17,0,23068,2018-09-08,NaT,1,1,450000,3
18928,2019-12-01,2760,31,NaN,C20,0,51471,2019-10-03,NaT,3,3,0,1
18953,2019-01-01,2765,26,NaN,C18,1,38809,2018-10-02,NaT,1,1,0,1
19028,2019-06-01,2774,40,NaN,C15,1,42313,2018-07-21,NaT,1,1,0,2

In [64]:
df_original['Gender'].dropna(inplace=True)

In [65]:
df_original['Gender'].replace({0.0:'Male', 1.0:'Female'}, inplace=True)

In [66]:
df_original['Gender'].value_counts()

Gender
Male      11074
Female     7978
Name: count, dtype: int64

In [67]:
df_original['Dateofjoining'] = pd.to_datetime(df_original['Dateofjoining']).dt.date

In [68]:
df_original['LastWorkingDate'] = pd.to_datetime(df_original['LastWorkingDate']).dt.date

In [69]:
df_original.head()

,Reporting Date (Monthly),Driver_ID,Age,Gender,City,Education_Level,Income,Dateofjoining,LastWorkingDate,Joining Designation,Grade,Total Business Value,Quarterly Rating
0,2019-01-01,1,28.0,Male,C23,2,57387,2018-12-24,NaT,1,1,2381060,2
1,2019-02-01,1,28.0,Male,C23,2,57387,2018-12-24,NaT,1,1,-665480,2
2,2019-03-01,1,28.0,Male,C23,2,57387,2018-12-24,2019-03-11,1,1,0,2
3,2020-11-01,2,31.0,Male,C7,2,67016,2020-11-06,NaT,2,2,0,1
4,2020-12-01,2,31.0,Male,C7,2,67016,2020-11-06,NaT,2,2,0,1

In [73]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19104 entries, 0 to 19103
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Reporting Date (Monthly)  19104 non-null  object
 1   Driver_ID                 19104 non-null  int64
 2   Age                       19104 non-null  float64
 3   Gender                    19052 non-null  object
 4   City                      19104 non-null  object
 5   Education_Level           19104 non-null  int64
 6   Income                    19104 non-null  int64
 7   Dateofjoining             19104 non-null  object
 8   LastWorkingDate           1616 non-null   object
 9   Joining Designation       19104 non-null  int64
 10  Grade                     19104 non-null  int64
 11  Total Business Value      19104 non-null  int64
 12  Quarterly Rating          19104 non-null  int64
dtypes: float64(1), int64(7), object(5)
memory usage: 1.9+ MB

In [71]:
df_original.describe()

,Driver_ID,Age,Education_Level,Income,Joining Designation,Grade,Total Business Value,Quarterly Rating
count,19104.000000,19104.000000,19104.000000,19104.000000,19104.000000,19104.000000,1.910400e+04,19104.000000
mean,1415.591133,34.650466,1.021671,65652.025126,1.690536,2.252670,5.716621e+05,2.008899
std,810.705321,6.264397,0.800167,30914.515344,0.836984,1.026512,1.128312e+06,1.009832
min,1.000000,21.000000,0.000000,10747.000000,1.000000,1.000000,-6.000000e+06,1.000000
25%,710.000000,30.000000,0.000000,42383.000000,1.000000,1.000000,0.000000e+00,1.000000
50%,1417.000000,34.000000,1.000000,60087.000000,1.000000,2.000000,2.500000e+05,2.000000
75%,2137.000000,39.000000,2.000000,83969.000000,2.000000,3.000000,6.997000e+05,3.000000
max,2788.000000,58.000000,2.000000,188418.000000,5.000000,5.000000,3.374772e+07,4.000000

In [72]:
df_original.describe(include='object')

       Reporting Date (Monthly) Gender   City Dateofjoining LastWorkingDate
count                     19104  19052  19104         19104            1616
unique                       24      2     29           869             493
top                  2019-01-01   Male    C20    2015-07-23      2020-07-29
freq                       1022  11074   1008           192              70

##**Creating new features**

In [74]:
df1 = df_original.copy()

In [ ]:
df1['IsDriverResigned'] = df1['LastWorkingDate'].apply(lambda x: 1 if pd.isnull(x) else 0)

In [ ]:
df1['Tenure'] = (pd.to_datetime('today') - pd.to_datetime(df1['Dateofjoining'])).dt.days // 365

##**Feature Encoding**

##**Feature Scaling**

##**Model Selection**

##**Model Evaluation**